.conf_modal {
    position: fixed; /* Use fixed position to keep it centered regardless of scrolling */
    top: 50%; /* Position it 50% from the top */
    left: 50%; /* Position it 50% from the left */
    transform: translate(-50%, -50%); /* Center the modal both horizontally and vertically */
    background-color: white; /* Optionally, set background color */
    padding: 20px; /* Optionally, add padding */
  }
  
.tableHead
{
    font-weight: bold;
}
  
.pageHeader {
    display: flex;
    justify-content: space-between;
    padding: 2em 0 1em;
    border-bottom: 1px solid #e4e4e4;
    
}

.pageHeader h1 {
    font-size: 2em;
    font-weight: 400;
    color: #444;
    margin: 0;
}

.tableContainer {
    width: 100%;
    height: 400px;
}

.actionsContainer {
    display: flex;
    gap: 10px;
}

.conf_modal {
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: (-50%, -50%);
}

.conf_modal_actions {
    padding: 15px 20px;
    justify-content: flex-end;
    border-top: 1px solid #e4e4e4;
}